.movie-grid[b-eqvvr8vf63] {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.movie-card[b-eqvvr8vf63] {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
}

    .movie-card img[b-eqvvr8vf63] {
        width: 100%;
        border-radius: 10px;
    }

    .movie-card:hover[b-eqvvr8vf63] {
        transform: scale(1.05);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    }
